@charset "utf-8";
/* CSS Document */
* {
	font-family: sans-serif;
	font-size: 12px
}
body {
	margin: auto;
	padding: 0;background: url(../img/bannerbodys.gif)}
#container {
	margin:auto;
	text-align: left;
}
#header {
	background: #1e6900;
	background: -moz-linear-gradient(top, #1e6900, #3ba312);
	background: -webkit-gradient(linear, left top, left bottom, from(#284500), to(#016e01));
	 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#284500', endColorstr='#016e01'); /* ie7 */
 	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#284500', endColorstr='#016e01'); /* ie8 */
	color: #000;
	height: 33px;
	position: absolute;
	
	width: 100%;
	z-index: 1;
	padding-top:2px;padding-bottom:5px;
}
#headerDetail {
	position:relative;
	text-align: center;
	text-shadow: 3px 3px 10px #77ff77;
	font-weight: bold;
	font-family:"Century Gothic";
	font-size: 10px;
}
#headerDetail a{
	font-family:"Century Gothic";
	font-size: 10px;
}
.headId {
	position:relative;
	font-family:"Century Gothic";
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 2px 2px rgba(255, 180, 0, .9);
	text-align:center;
}
#navBar {
	
	color: #000;
	height: 31px;
	position: relative;
	width: 100%;
	top: 30px;
	z-index: 1;
	left:0px;
}
#navBar:after {

}
#mainPage {
	position: absolute;
	top: 7px;
	
	z-index: 0;
	width: 100%;
	
}
#content{margin-top:90px;margin-left:10px;}

#mobMenu{display:block; position:absolute;	
	padding: 15px 5px 5px 35px;top:-30px;}
/*Style 4 DropDown Menu*/
#menu {
	padding: 0px 0px 0px 0px;
	background: #475868;
	position:absolute;
	display: none;
	height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	margin-left: 0px;
	text-align:left;
	top:10px;
}
#menu a{
	height: 19px;
	padding: 9px 30px 0px 15px;
	display: block;
	cursor: point;
	border-right: solid 1px #4a779d;
	color: #FFFFFF;
	text-decoration: none;
	text-align:left;
}
#menu li {
	
	background: #475868;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align:left;
}
#menu ul li a {
	color: #333;
}
#menu li:hover, #menu li.hover {
	background: #ffb10a;
}
#menu li:hover a, #menu li.hover a {
	color: #333;
}
#menu li:hover ul li a, #menu li.hover ul li a {
	color: #333;
}
#menu ul li:hover a, #menu ul li.hover a {
	color: #FFF;
}
#menu ul li:hover ul li a, #menu ul li.hover ul li a {
	color: #333;
}
#menu ul ul li a {
	color: #333;
}
#menu ul {
	display: none;
	margin: 0;
	padding: 0;
	top: 28px;
	left: 0;
	background: #333;
	-moz-box-shadow: 0px 0px 16px #000;
	-webkit-box-shadow: 0px 0px 16px #000;
	box-shadow: 0px 0px 16px #000;
	z-index: 23;
}
#menu ul li {
	background: #fff;
	border: none;
	width: 100%;
	color: #000;
	padding: 0px 0 0px 0px;
	height: 30px;
}
/* level 2 list */
#menu ul ul {
	left: 220px;
	top: 0px;
	z-index: 24;
}
#menu ul ul li {
	border: none;
	width: 200px;
	background: #d3e5fa;
	color: #000;
	padding: 0px 0 0px 4px;
	height: 30px;
}
#menu ul ul ul {
	left: 200px;
}
img {
	border: none;
}
#fullDate {
	position: absolute;
	top: -30px;
	width: 170px;
	right: 10px;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 2px 2px 10px #FFFFFF;
	padding: 3px
}
